@{
    ViewBag.Title = "Diplomado Desarrollo Web C# UASD";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Esta es la practica 1 de la unidad 3, la cual trata sobre el manejo de los controladores de ASP .NET MVC.
    En esta practica realizaremos una serie de ejercicios en los cuales estaremos agregando, editando y eliminando
    empleados, departamentos y los registros de los mismos. Tambien estaremos exportando los datos de los empleados
    con una serie de filtros pedidos en los ejercicios.
</p>
