@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Universidad Autonoma De Santo Domingo (UASD)<br />
    <abbr title="Fundada en">F:</abbr>
    28/10/1538<br />
    Diplomado Desarrollo Web C#
</address>

<address>
    <strong>Web Virtual:</strong>   <a href="https://www.uasd.edu.do/">UASD Virtual</a><br />
    <strong>Accede al Diplomado:</strong> <a href="https://uasdvirtual.uasd.edu.do/diplomados/login/index.php">Diplomado Desarrollo Web C#</a>
</address>