@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practica 1 Unidad 3</h1>
    <p class="lead">En esta practica vamos a hacer uso de los controladores de ASP .NET MVC para realizar una serie de ejercicios relacionados con el registro y la exportación de empleados.</p>
    <p><a href="/Empleados/Index" class="btn btn-primary btn-lg">Iniciar... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>
            Este modulo te permite realizar un mantenimiento de los datos de los empleados, puedes agregar, editar y eliminar un empleado.
        </p>
        <p><a class="btn btn-default" href="/Empleados/Index">Adelante &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos</h2>
        <p>Este modulo te permite realizar un mantenimiento de los datos de los departamentos, puedes agregar, editar y eliminar un departamento.</p>
        <p><a class="btn btn-default" href="/Departamentos/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registros</h2>
        <p>Este modulo te permite realizar un mantenimiento de los datos de los registros, puedes agregar, editar y eliminar un registro.</p>
        <p><a class="btn btn-default" href="/Registros/Index">Learn more &raquo;</a></p>
    </div>
</div>